body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.comment-section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #1c1c1c;
  width: 100%;
  max-width: 600px;
}

.comments-list {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  color: white;
}

.input-area {
  padding: 10px;
  background: #1c1c1c;
  border-top: 1px solid #444;
}

.input-field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.credential-field {
  display: flex;
  gap: 10px;
}

.credential-field input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background: #2a2a2a;
  color: white;
}

.comment-area {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

.comment-area textarea {
  flex: 1;
  resize: none;
  overflow: auto;
  min-height: 38px;
  max-height: 200px;
  border-radius: 20px;
  padding: 10px;
  font-size: 14px;
  background: #2a2a2a;
  color: white;
  border: none;
  outline: none;
  box-sizing: border-box;
}

.comment-area button {
  background: #fe2c55;
  border: none;
  padding: 10px 16px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.input-area button {
  margin-left: 10px;
  background: #fe2c55;
  border: none;
  padding: 10px 16px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.note-item {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left 5px;
  border-top: 2px solid #444;
  margin-bottom: 2px;
  background: #1c1c1c;
}

.reply-field {
  padding: 10px;
  background: #1c1c1c;
  border-top: 1px solid #444;
  color: white;
  visibility: hidden;
  display: flex;
  position: relative;
}

.close-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%); /* vertical center */
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 50%;
  background-color: #ff4d4d;
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  line-height: 24px;
  transition: background-color 0.2s ease;
}
.close-btn:hover {
      background-color: #cc0000;
}

#reply-text {
    white-space: pre-line;
}

.button-container {
  display: flex;
  height: 35px;
  width: 50%;
  justify-content: space-between;
}

.button-container h3 {
    font-size: 16px;
}

.notesBtn {
    border: none;
    padding: 10px 16px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
}

.replyBtn {
    background: #fe2c55;
    color: white;
}

.followBtn {
    background: white;
    color: #fe2c55;
}
